<form action="/books/new" method="POST">
  <label>Book Title: </label></br>
    <input type="text" name="book title"></br>

  <label>Author Name: </label></br>
    <input type="text" name="author name"></br>

  <label>Subjects: </label></br>
    <input type="text" name="subject"></br>

  <br></br>
    <input type="submit" value="Add Book">
</form>
