<!doctype html>
<html>
  <head>
    <title>10th Floor Carrel</title>
    <link rel="stylesheet" href="https://getbootstrap.com/docs/3.3/examples/signin/">
  </head>
  <body>
    <nav>
      <% if logged_in? %>
        <p>Welcome, <%=current_user.user_name %></p>

      <% else %>
        <a href="/register">Sign Up</a>
        <a href="/login"> Sign In </a>
      <%end %>

    </nav>
    <div class="container">
      <h1>10th Floor Carrel!</h1>
      <% if !@error_message.nil? %>
      <div class="alert alert-warning">
        <%= @error_message %>
      </div>
    <% end %>
      <%= yield %>
    </div>
    <script src="fhttps://getbootstrap.com/docs/3.3/examples/signin/"></script>
    <script src="https://getbootstrap.com/docs/3.3/examples/signin/"></script>
  </body>
</html>
